#masthead-ad,
ytd-rich-item-renderer.style-scope.ytd-rich-grid-row #content:has(.ytd-display-ad-renderer),
.video-ads.ytp-ad-module,
tp-yt-paper-dialog:has(yt-mealbar-promo-renderer),
ytd-engagement-panel-section-list-renderer[target-id="engagement-panel-ads"],
#related #player-ads,
#related ytd-ad-slot-renderer,
ytd-ad-slot-renderer,
yt-mealbar-promo-renderer,
ad-slot-renderer,
.ytp-unmute,
a.yt-spec-button-shape-next.yt-spec-button-shape-next--overlay,
ytm-companion-ad-renderer,
.yt-mini-app-container-view-model__background-blur,
.yt-mini-app-container-view-model__background-scrim,
button-view-model:has(svg path[d^="m4 2.999"]),
ytm-open-app-button-renderer,
c3-icon-button.open-app-button,
.open-in-app,
a[aria-label*="Open App"],
button[aria-label*="Open App"],
c3-icon-button[aria-label*="Open App"],
[aria-label*="Open App"],
[aria-label*="Open app"],
ytm-mobile-topbar-renderer .header-button:has(span),
a[href*="intent://"]
{
    display: none !important;
}

