html {
    -webkit-tap-highlight-color: transparent;
}

:root {
    --safe-area-inset-bottom: 0px !important;
}

body, ytm-app {
    padding-bottom: 52px !important;
}

ytm-pivot-bar-renderer {
    height: 52px !important;
    min-height: 52px !important;
}

a {
    text-decoration: none !important;
}

a.yt-simple-endpoint {
    text-decoration: none !important;
    color: inherit !important;
}

header-bar ytm-mobile-topbar-renderer#header-bar header.mobile-topbar-header.cbox.cairo-settings-topbar {
    background-color: inherit !important;
    color: inherit !important;
    border-color: inherit !important;
}
